@import "globals";
@import "variables";

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  h1 {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  p {
    margin: 5px 0px 5px 0px;
    font-size: 0.8rem;
    text-align: justify;
  }
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $darkgrey;
  color: white;
  a {
    margin-top: 50px;
    font-size: 1rem;
    padding: 5px;
  }
  a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
}

#game-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  box-sizing: initial;
  height: 600px;
  width: 300px;
  border: white 1px solid;
  overflow: hidden;
  div {
    height: 30px;
    width: 30px;
  }
}

// tetromino colors

.t-block {
  background-color: #9900fc;
}

.l-block {
  background-color: #feaa00;
}

.j-block {
  background-color: #0000ff;
}

.o-block {
  background-color: #ffff00;
}

.s-block {
  background-color: #ff0002;
}

.z-block {
  background-color: #00ff01;
}

.i-block {
  background-color: #01ffff;
}

#footer {
  width: 100%;
}
